 <template name='login'>
         {{> signInWithEmailModal}}

         <div class="row">
                 <div class='col-xs-12 col-sm-6'>
                         <div class='page-header'>
                                 <h3>>Sign In to BitFeed</h3>
                         </div>

                         <ul class='btn-lsit'>
                                 <li><button type="button" id="github" class="btn btn-social-login btn-github"><i class="fa fa-github"></i> Sign in with GitHub</button></li>
                                 <li><button type="button" class="btn btn-social-login btn-success" data-toggle="modal" data-target="#sign-in-with-email-modal"><i class="fa fa-envelope"></i> Sign in with Email</button></li>
                         </ul>
                 </div>
         </div>
 </template>
