<template name='addNews'>
         <div class='container'>
                 <div class='row'>
                         <div class='col-xs-4 col-xs-offset-4'>
                             <div class='form'>
                                 <form class='addNewsForm'>
                                         <input type='text' id='title' class='form-control' name='title' placeholder='Enter title'/><br>
                                         <input type='text' id='url' class='form-control' name='url' placeholder='Enter Url'/><br>
                                         <input type='submit' valus='Add' class='btn btn-success btn-lg'/>
                                 </form>
                         </div>
                 </div>
         </div>
 </div>
 </template>
