 <template name='newsView'>
         <div class='container'>
                 <div class='row'>
                         <div class="col-xs-8 col-xs-offset-2">
                                 <h1>{{title}}</h1>
                                 <h2>{{username}}</h2>
                                 <hr/>
                                 <h2>Comments</h2>
                                 <span>The comments are coming</span>
                         </div>
                 </div>
         </div>
 </template>
